<script src="/assets/js/dbSearch.js"></script>
<div class="row noMargin">
  <div class="column sm12"><img src="/assets/images/allBookedLogo.png" class="center" height="" width="">
    <div class="row noMargin">
      <div class="col s12">
        <p></p>
      </div>
      <div class="col s12 m4 l2">
        <p></p>
      </div>
      <div class="col s12 m4 l8">
        <center>
          <h6><strong>Search Our Library</strong></h6>
          <div class="toAddPage">
            <p id="addToLibrary">Can't find the book you're looking for? No Worries! Click here to add a book to our
              library
              stock!</p>
        </center>
        <center>
          <p><a class="toAddPage btn-floating waves-effect waves-light darken" id="goToButton"><i class="material-icons"
                onclick="window.location.href='/add'">+</i></a>
          </p>
        </center>
      </div>
    </div>
    <div class="row" style="width: 60%; margin-top: 0; padding-top: 0;">
      <input type="text" id="site-search" placeholder="Search your favorite books!">
      <label>
        <input name="group1" class="rB" type="radio" id="dbTitle" />
        <span>Title</span>
      </label>
      <label>
        <input name="group1" class="rB" type="radio" id="dbAuthor" />
        <span>Author</span>
      </label>
      <label>
        <input name="group1" class="rB" type="radio" id="dbISBN" />
        <span>ISBN</span>
      </label>
      </p>
      <button id="dbButton" class="btn btn-primary ml-2 darken">Go</button>
      </p>
    </div>

    <div id="dbResults"></div>