<h1>Add Books To Library</h1>
<input id="searchAPI" placeholder="Title, Author, ISBN, or Keyword">
<h3>Search By...</h3>
<input type="radio" name="search" value="title" id="apiTitle"> Title<br>
<input type="radio" name="search" value="author" id="apiAuthor"> Author<br>
<input type="radio" name="search" value="isbn" id="apiISBN"> ISBN<br>
<button id="apiButton" type="submit">Search!</button>
<div id="apiResults">
</div>