<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>All Booked Library</title>
		    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
		<script src="../public/assets/js/apiSearch.js"></script>
	</head>
	<body>
        <h1>Search Our Library</h1>
        <input id="search" placeholder="Title, Author, ISBN, or Keyword">
        <h3>Search By...</h3>
        <input type="radio" name="search" value="keyword" id="userKeyword"> Keyword<br>
        <input type="radio" name="search" value="title" id="userTitle"> Title<br>
        <input type="radio" name="search" value="author" id="userAuthor"> Author<br>
        <input type="radio" name="search" value="isbn" id="userISBN"> ISBN<br>
        <button id="button" type="button">Search!</button>
        <div id="results"></div>
	</body>
</html>
