    <h1>Search Our Library</h1>
    <input id="searchDB" placeholder="Title, Author, ISBN, or Keyword">
    <h3>Search By...</h3>
    <input type="radio" name="search" value="keyword" id="dbKeyword"> Keyword<br>
    <input type="radio" name="search" value="title" id="dbTitle"> Title<br>
    <input type="radio" name="search" value="author" id="dbAuthor"> Author<br>
    <input type="radio" name="search" value="isbn" id="dbISBN"> ISBN<br>
    <button id="button" type="button">Search!</button>
    <div id="dbResults"></div>